<footer class="w3-container w3-center w3-margin-top" style="background-color: #e6f2ff;">
    <div class="row">
      <div class="large-12 columns">
        <hr>
        <h4>Contact Me</h4>
        <div class="large-4 columns">
          Email: example@gmail.com
        </div>
        <div class="large-4 columns">
          Twitter: @twitterhandle
        </div>
        <div class="large-4 columns">
          Phone: 646-700-400
        </div>
      </div>
    </div>
  <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright Project of ET710.</p>
            </div>
          </div>
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <br>
  <br>
        </div>
</footer>
