<div>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

  <head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation 5</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
      <!-- optional CDN for Foundation Icons ^^ -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  </head>
  <div>



    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="#" class="button">Graphic Design</a></li>
           <li><a href="#" class="button">Art</a></li>
           <li><a href="#" class="button">Link 3</a></li>
           <li><a href="#" class="button">Link 4</a></li>
          </ul>
        </div>
        <h1>Graphic Design Portfolio</h1>
        <hr/>
      </div>
    </div>


    <div class="row">
      <div class="large-12 columns">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5WT-A6XB46oXKpbQE-zkeKyP_NVj0m-GG4A&usqp=CAU">
      </div>
    </div>

    <div class="row">
      <hr>
      <div class="large-8 columns">
        <h4>About</h4>
        <p>Graphic design can be described as the sphere of human activity that lies on the crossroads of several directions, first of all, visual arts, communication, and psychology. Basically, graphic designers do the job of communication to others by means of graphic (visual) elements such as images of different styles and complexity, types and fonts, pictograms, shapes and sizes, colors and shades, lines and curves, etc. Graphic designer makes all those elements of visual perception transfer the message, so he makes them functional. Therefore, we could say that graphic designers are artists applying their talents mostly not in pure art but communicating and purposeful art.</p>
        <i class="fi-social-twitter"></i>
      </div>
      <div class="large-4 columns">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaoDdREDl2zOhGBmbNbC2rdrdIIgYCjYU08g&usqp=CAU">
      </div>
    </div>

    <div class="row">
      <hr>
      <div class="large-12 columns">
        <h4>Work</h4>
        <p>Click on each image!</p>

        <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
          <li>
            <a href="https://placehold.it/800x500&text=[img]">
            <img data-caption="caption here..." src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvP8av11LEaJiJszx-D_GsJrav1E7L4evd3A&usqp=CAU"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 2 here..." src="https://previews.123rf.com/images/azat1976/azat19761709/azat1976170900003/85202568-morocco-disintegration-template-islamic-mosaic-design-abstract-background-business-card-invitation-.jpg"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 3 here..." src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDzlhw7LS-3e2am6f0gPIuy2kVI9MHdCxnoA&usqp=CAU"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 4 here..." src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLyIJM_aPREfs6ClprO4ok49aLx2ifYY7qrw&usqp=CAU"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 5 here..." src="https://www.afghanhistoricsociety.com/wp-content/uploads/2017/06/afghan-girl-ii-doug-powell.jpg"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 6 here..." src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhlLWlySGofLoYaFgsRW3oAGoDR7n0G0m-HA&usqp=CAU"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 6 here..." src="https://www.creativefabrica.com/wp-content/uploads/2020/09/03/Islamic-art-beige-background-Graphics-5264659-1-1-580x386.jpg"></a>
          </li>
          <li>
            <a href="https://placehold.it/800x500&text=[img]"><img data-caption="caption 6 here..." src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmwnxYZPRzpYtPEFubTw6mNOJ6dG1kJM7dFA&usqp=CAU"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <hr>
        <h4>Contact Me</h4>
        <div class="large-4 columns">
          Email: example@gmail.com
        </div>
        <div class="large-4 columns">
          Twitter: @twitterhandle
        </div>
        <div class="large-4 columns">
          Phone: 646-700-400
        </div>
      </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright Project of ET710.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>


</div>






