<h3>NYC Tourist Portfolio</h3>



<div class="simple-article-header">
  <!-- Article Published Date & Reading Time -->
  <p class="article-date-read">Published on: 05 December, 2020 - 5 min read</p>
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
      10 BEST PLACES TO SEE IN NEW YORK CITY
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->
  <p class="article-author-comments">
    <em>by <a href="#">Muhammad Khan</a></em> -
    <a class="article-comments" href="#">3 Comments</a>
  </p>

  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F38670528%2F108919755319%2F1%2Foriginal.jpg?auto=format%2Ccompress&q=75&sharp=10&s=af6bd439922cbde45d119e1ca00cc446" width="600">
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content">
    <h5><b>Why Go To New York City</b></h5>
    <p><b>Cool, cosmopolitan, crowded, constantly evolving … the Big Apple blends big city splendor with small-town charm. Amid Gotham's iconic landmarks and towering skyscrapers, you'll experience a vibrant culture permeating each of the city's distinctive neighborhoods and boroughs. Follow trendsetters to the East Village and Brooklyn to check out indie boutiques, iconic bakeries and trendy coffee shops. Afterward, peruse the racks of the sleek shops lining Fifth Avenue, admire the cutting-edge art collections at the MoMA and the Met, catch a memorable show on Broadway or sit down for a meal at the latest "it" restaurant.</b></p>
    <p><b>As the most populous city in the U.S. – set at the forefront of food, fashion and the arts – NYC requires stamina. But don't let the Big Apple's frenetic sights and sounds intimidate you from soaking up its grandeur. Enlist the help of a local to help you navigate it all. Wander through the concrete jungle and you'll discover roaring taxis zipping down bustling blocks, fast-paced pedestrians strolling past on their way to marquee galleries and trendy cocktail bars, and Times Square's neon lights flickering at all hours. And yet, the city's twinkling lights and chaotic corners also invite you to embrace every New York minute, explore every enclave and create your own urban adventure. There are endless ways to spend your time in the city that never sleeps, but before you leave, stop and look around – what's here today will be transformed into something bigger and better tomorrow.</b></p>
    <h5><b>Best Months to Visit</b></h5>
    <p><b>The best time to visit New York is anytime. Each season in Gotham offers visitors plenty of reasons to visit. Early fall offers crisp breezes, bright sun and comfortable temperatures while late fall and winter make merry with the Macy's Thanksgiving Day Parade and holiday decorations. Deep winter – January and February – is cold, but that also means cheaper hotel rates. Spring is glorious and New Yorkers celebrate the thaw by taking to the streets, shopping at outdoor markets, frolicking in Central Park and dining outside. Summer is hot, but hey, so are lots of places, and at least this is New York.</b></p>
  </div>

</div>

  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>

<app-portfolio-lightbox portfolioURL = '/assets/art.json'></app-portfolio-lightbox>

<!-- End Page Container -->
 
      <app-footer></app-footer>
